# Dados Ausentes

Vamos aprender um pouco a como tratar Missing Data

In [38]:
import pandas as pd

In [39]:
#Lendo a base de dados
df = pd.read_csv('MoviesOnStreamingPlatforms_updated.csv')

In [40]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

**Obtendo informaÃ§Ãµes do Dataframe**

Vamos ver algumas formas de ver informaÃ§Ãµes do dataFrame

In [41]:
#InformaÃ§Ãµes dos dados nÃ£o-nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16145 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [42]:
#describe retorna alguma informaÃ§Ãµes como a mÃ©dia, valor mÃ¡ximo, valor mÃ­nimo
df.describe()

,Unnamed: 0,ID,Year,IMDb,Netflix,Hulu,Prime Video,Disney+,Type,Runtime
count,16744.000000,16744.000000,16744.000000,16173.000000,16744.000000,16744.000000,16744.000000,16744.000000,16744.0,16152.000000
mean,8371.500000,8372.500000,2003.014035,5.902751,0.212613,0.053930,0.737817,0.033684,0.0,93.413447
std,4833.720789,4833.720789,20.674321,1.347867,0.409169,0.225886,0.439835,0.180419,0.0,28.219222
min,0.000000,1.000000,1902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000
25%,4185.750000,4186.750000,2000.000000,5.100000,0.000000,0.000000,0.000000,0.000000,0.0,82.000000
50%,8371.500000,8372.500000,2012.000000,6.100000,0.000000,0.000000,1.000000,0.000000,0.0,92.000000
75%,12557.250000,12558.250000,2016.000000,6.900000,0.000000,0.000000,1.000000,0.000000,0.0,104.000000
max,16743.000000,16744.000000,2020.000000,9.300000,1.000000,1.000000,1.000000,1.000000,0.0,1256.000000

In [43]:
#InformaÃ§Ãµes sobre os dados nulos, quantidade de dados NaN por colunas
df.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 9390
IMDb                 571
Rotten Tomatoes    11586
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors            726
Genres               275
Country              435
Language             599
Runtime              592
dtype: int64

**Tratamento de dados**

Existem algumas formas de tratar dados ausente, vou mostrar alguns dos principais mÃ©todos

**1Âº Forma, apagando os registro com os dados nulos**

In [44]:
#Apagando as linha onde os dados da coluna 'Directors' forem nulos
df.dropna(subset=['Directors'], inplace=True)

In [45]:
#Como podemos ver a coluna Directors nÃ£o tem mais dados nulos
df.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 8835
IMDb                 328
Rotten Tomatoes    10966
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors              0
Genres                29
Country              138
Language             282
Runtime              249
dtype: int64

**2Âº Forma, substituindo os registro nulo pelo que a frequÃªncia maior**

Primeiro Ã© precisso saber qual Ã© genero que tem a maior frequÃªncia

In [46]:
#Contando qual o genero que tem a maior frequÃªncia
freq = df['Genres'].value_counts()

In [47]:
freq

Drama                             1304
Documentary                       1170
Comedy                             993
Comedy,Drama                       441
Horror                             432
                                  ...
Adventure,History,War                1
Documentary,Reality-TV               1
Mystery,Action,Thriller              1
Biography,Crime,Film-Noir            1
Documentary,Action,History,War       1
Name: Genres, Length: 1864, dtype: int64

Como o retorno Ã© um array precisamos usar o primeiro valor, o Ã­ndice 0

In [48]:
freq.index

Index(['Drama', 'Documentary', 'Comedy', 'Comedy,Drama', 'Horror',
       'Drama,Romance', 'Comedy,Drama,Romance', 'Horror,Thriller',
       'Comedy,Romance', 'Drama,Thriller',
       ...
       'Horror,Sci-Fi,Western', 'Documentary,Drama,History,Sci-Fi',
       'Western,War', 'Adventure,Comedy,Drama,Thriller',
       'Action,Biography,Crime,Film-Noir', 'Adventure,History,War',
       'Documentary,Reality-TV', 'Mystery,Action,Thriller',
       'Biography,Crime,Film-Noir', 'Documentary,Action,History,War'],
      dtype='object', length=1864)

In [49]:
#Substituindo os valores nulos pela afrequÃªncia maior
df['Genres'].fillna(freq.index[0], inplace=True)

In [50]:
#Nenhum dado nulo na coluna 'Genres'
df.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 8835
IMDb                 328
Rotten Tomatoes    10966
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors              0
Genres                 0
Country              138
Language             282
Runtime              249
dtype: int64

**3Âº Forma, criando uma categoria**

In [51]:
df['Language'].fillna('language not informed', inplace=True)

In [52]:
#Contando os registro
df['Language'].value_counts()

English                                             10628
Hindi                                                 495
language not informed                                 282
English,Spanish                                       275
Spanish                                               264
                                                    ...
Hebrew,Arabic                                           1
Min Nan                                                 1
Hindi,Urdu,English,Telugu                               1
French,English,German,Spanish,Polish                    1
English,Swedish,French,Vietnamese,Russian,Hebrew        1
Name: Language, Length: 1089, dtype: int64

In [53]:
#Nenhum dado nulo na coluna 'Language'
df.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 8835
IMDb                 328
Rotten Tomatoes    10966
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors              0
Genres                 0
Country              138
Language               0
Runtime              249
dtype: int64

**4Âº Forma, substituindo pela mediana**

In [54]:
#Pegando a mediana, o valor cental em uma ordem crescente ou decrescente 
mediana = df['Runtime'].median()

In [55]:
#Susbstituindo os valores nulos na coluna Runtime pela mediana
df['Runtime'].fillna(mediana, inplace=True)

In [56]:
df.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 8835
IMDb                 328
Rotten Tomatoes    10966
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors              0
Genres                 0
Country              138
Language               0
Runtime                0
dtype: int64

**5Âº Forma, substituindo pela a moda**

In [57]:
moda = df['Age'].mode()

In [58]:
moda

0    18+
dtype: object

In [59]:
#Como o retorno dÃ¡ um objeto, precisamos apenas do 18+
moda[0]

'18+'

In [60]:
df['Age'].fillna(moda[0], inplace=True)

In [61]:
df.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                    0
IMDb                 328
Rotten Tomatoes    10966
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors              0
Genres                 0
Country              138
Language               0
Runtime                0
dtype: int64

**6Âº Forma, substituir pela mÃ©dia**

In [62]:
#Calculando a mÃ©dia na coluna IMDb
md = df['IMDb'].mean()

In [63]:
#Como o retorno Ã© um valor muito grande apois o ponto, podemos fazer o arredondamento
md

5.898884639898022

In [64]:
media = round(md, 2)

In [65]:
df['IMDb'].fillna(media, inplace=True)

In [66]:
df.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                    0
IMDb                   0
Rotten Tomatoes    10966
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors              0
Genres                 0
Country              138
Language               0
Runtime                0
dtype: int64

**7Âº Forma, apagando a coluna**

Quandos temos um coluna faltando muitos dados e que ela nÃ£o Ã© muito importante podemos apaga-la

In [67]:
#Apagando a coluna Rotten Tomatoes, o axis=1 Ã© para apagar a coluna e nÃ£o as linha
df.drop(['Rotten Tomatoes'], axis=1, inplace=True)

In [68]:
df.isnull().sum()

Unnamed: 0       0
ID               0
Title            0
Year             0
Age              0
IMDb             0
Netflix          0
Hulu             0
Prime Video      0
Disney+          0
Type             0
Directors        0
Genres           0
Country        138
Language         0
Runtime          0
dtype: int64